<section class="content-section container">
{{#if username}}
        <h2 class="section-header">Seja Bem Vindo {{username}}</h2>
{{else}}
        <h2 class="section-header">Seja Bem Vindo Utilizador Anónimo</h2>
{{/if}} 
        <p>Esta página foi criada com o ideal de explorar conceitos de linguagens como HTML,CSS e JavaScript e establecer a interação entre todas de forma a puder ser feito pedidos a partir do cliente ao servidor. </p>
        <p>Esperamo que o resultado seja o desejado e que haja sucesso no que eu criei para fundamentar o que dei na cadeira de Programação da Internet.</p>
        <p>Este trabalho foi realizado por Ruben Sousa nº47575 da turma LEIRT.</p> 
        <p>Sem mais demoras, aqui estão os objetivos concretizados acerca do trabalho pedido. </p>
</section>    

      