<div class="loginbox" >
      <img src="../imgs/person2.png" class="avatar">
      <h1 class="titlelogin">Login Here</h1>
      <form action = "/login" method="post">
            <label for="textUsername" class="miniheaders">Username:</label>
            <input type="text" id="textUsername" name="username" required>
            <label for="password" class="miniheaders">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value = "Submit">
      </form>
</div>