<section class="notfound">
    <div id="container">
        <div class="content">
            <h2>Login Failed</h2>
            <h4>Opps! Error making login</h4>
            <p>The user account you were login for doesn't exist. You may have mistyped the
            username or pasword.</p>
            <a href="/">Back to Home</a>
        </div>
    </div>
</section>